<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Index page</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<h1>Bienvenido a la página de inicio</h1>
<div class="links">
    <a th:href="@{/users}">Ver usuarios</a>
    <a th:href="@{/posts}">Ver publicaciones</a>
    <a th:href="@{/user-profiles/me}" class="profile-link">Ver perfil</a>
    <a th:href="@{/logout}" class="logout-link">Logout</a>
</div>
</body>
</html>
