<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuario no encontrado</title>
    <link rel="stylesheet" href="../static/css/user-not-found.css" th:href="@{/css/user-not-found.css}">
</head>
<body>
<div class="container">
    <h1>Usuario no encontrado</h1>
    <p>El usuario solicitado no existe o ha sido eliminado.</p>
    <a href="/users" class="back-link">Volver a la lista de usuarios</a>
</div>
</body>
</html>
